<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>

    <form action="" method="post">
        <img src="" alt="Foto de perfil">
        <p>
            <label for="nome">Nome</label><br/>
            <input type="text" id="nome">
        </p>
        <p>
            <label for="endereco">Endereço</label><br/>
            <input type="text" id="endereco">
        </p>
        <p>
            <label for="telefone">Telefone</label><br/>
            <input type="text" id="telefone">
        </p>
        <p>
            <label for="nome">Redes sociais</label><br/>
            <input type="text" id="nome">
        </p>
        <p>
            <label for="experiencia">Formação</label><br/>
            <input type="text" id="experiencia">
        </p>
        <p>
            <label for="experiencia">Experiência profissional</label><br/>
            <input type="text" id="experiencia">
        </p>
        <p>
            <label for="experiencia">Serviços voluntários</label><br/>
            <input type="text" id="experiencia">
        </p>
    </form>
    
</body>
</html>